html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.register {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 15%;
    border-radius: 5px;
    border: 2px ;
    background-color: rgb(167, 166, 166);
}

.text-container {
    text-align: center;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;
}

.input-container {
    height: 20px;
    margin-top:10px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right:auto;
    background-color: #F4F7F5;
    height: 25%;
    width: 25%;
    border-radius: 25px;
    padding: 8px;
    padding-left: 10px;
}

.login-button {  
    background: #299296; 
    width: 12%;
    margin-left:5px;
    margin-right:auto;
    border-color: #02040F;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 40px;

}

.login-button:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 15px #cdd7dd;
}

.input-container:hover{
    box-shadow: 0 0 50px 15px #cdd7dd;
}

.disclaimer{
    margin-left: auto;
    margin-right:auto;
    margin-top: 20%;
}

input{
    border-style: hidden;
    width: stretch;
    padding-left: 5px;
}

.text-container h3 {
    margin-bottom: 30px;
}